
  body {
         background: linear-gradient(to right, #FBAB7E, #F7CE68);
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          overflow-y: auto;
       }
   
   nav {
           background-color: #444;
           padding: 15px;
           text-align: center;
           
       }
   nav a {
           color: white;
           text-decoration: none;
           margin: 15px;
           font-weight: bold;
    }
    .about-box {
    width: 46%;
    padding: 40px;
    border: none;
    text-align: left;
    margin-left: 3%; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FBAB7E, #F7CE68);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    }
    #about {
    margin-top: 30px;
    }
    #about h2 {
    font-size: 25px; 
    }

    #about p {
    font-size: 20px; 
    }

    .profile-img {
    width: 350px;
    height: 350px;
    border: 5px solid;
    border-radius: 50%; 
    position: absolute;
    right: 120px; 
    top: 100px
    }

    .profile-name, .profile-title {
        position: absolute;
        right: 90px; 
        top: 470px; 
        text-align: center; 
        width: 450px; 
        font-family: Georgia, serif;
    }
    
    .profile-title {
        font-family: Verdana, sans-serif;
        font-size: 18px; 
        top: 515px; 
    }
    
    .contact-info {
        position: absolute;
        right: 80px;  
        top: 560px;
        text-align: center; 
        width: 450px; 
        font-family: Arial, sans-serif;
    }
    
    .contact-info h2 {
        font-size: 34px; 
        font-weight: bold;
    }
    
    .contact-icon {
        width: 55px; 
        height: 55px;
        margin: 10px; 
        cursor: pointer;
        pointer-events: auto; 
        z-index: 100;
    }
    

    #hobbies-container {
    position: absolute; 
    left: 100px; 
    top: 450px; 
    width: 600px; 
    padding: 20px;
    border: non; 
    background: linear-gradient(to right, #FBAB7E, #F7CE68);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    text-align: center;
    }

    #hobbies-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px; 
    justify-content: center;
    }

    #hobbies-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap: 30px; 
    flex-wrap: nowrap; 
}

#hobbies-list li {
    background-color: #f88440;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #444;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap; 
}

#hobbies-list li:hover {
    background-color: #FBAB7E;
    color: white;
    border-color: white;
}

#gallery {
    position: relative;
    left: 31%;
    top: 230px; 
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    width: 50%; 
    height: 490px;
    padding-bottom: 100;
    border: non; 
    background: linear-gradient(to right, #FBAB7E, #F7CE68);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}


#gallery h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

#gallery div {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

#gallery img {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    border-radius: 20%;
    border: none;
    margin: 10px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222; 
    color: white;
    font-size: 16px;
    position: relative;
    width: 100%;
    top: 400px;
}
